.background    { background: rgb(52, 166, 251);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background-image: url("../img/water.png"); }
.wall          { background: white;   }
.powerup {background-image: url("../img/powerup.png");}
.actor  { position: absolute;  }
.coin   { background-image: url("../img/coin.png"); }
.player { background-image: url("../img/player.gif"); }
.bunny {background-image: url("../img/enemy.gif");}
.key {background-image: url("../img/key.png");}
.drop {background-image: url("../img/drop.png");}
.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background-image: url("../img/player.gif");
}
.won .player {
  background-image: url("../img/win.gif");
  background-size: 100%;
}
